html { /*  */
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer { /* Cambio de id (#) a Class (.)*/
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 220px; /* Modificación a 220px */
	background-color: #F5F5F5;
}

/*-----------------------------------*/
.footer > .container {
	 padding-right: 15px;
	 padding-left: 15px;
}